<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="text/javascript" src="{% static 'app.js' %}"></script>  
    <title>Monkey</title>
</head>
<body>

<div class="wrapper">
    <h1>Mono tipeando infinitamente</h1>
    <img class="gif" src="{% static 'monkey.gif' %}">
    <input class="inputText" id="inputText" type="text", placeholder="Ingrese una palabra">
    <button class="submit" id="submit">Mandar a tipear</button>
    <p class="loading" id="loading"></p>
    <p class="loading" id="probab"></p>
    <p class="result" id="result"></p>
</div>

</body>
</html>